* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input:focus, button:focus {
  outline: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.logo__img {
  margin-right: 12px;
}
.logo__text {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}
.logo__text--white {
  color: #FFFFFF;
}

.button {
  background-color: transparent;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 3px;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.button:hover {
  background-color: #1ECE7A;
  border: 1px solid transparent;
}
.button--outline {
  border: none;
}
.button--outline:hover {
  background-color: transparent;
  border: none;
}
.button--text-black {
  color: #262B35;
}
.button--text-black:hover {
  color: #1ECE7A;
}
.button--border-right {
  position: relative;
}
.button--border-right::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: "";
  display: block;
  height: 24px;
  width: 1px;
  background-color: rgba(38, 43, 53, 0.4);
}

.text--br {
  display: block;
}
.text--color-green {
  color: #1ECE7A;
}

.icon-card {
  width: 55px;
  height: 55px;
}

.section-header__suptitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #1C57C9;
  margin-bottom: 16px;
}
.section-header__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262B35;
  margin-bottom: 24px;
}
.section-header__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #606C84;
}

.main {
  background: #FFFFFF url("../img/main/main-bg.png") no-repeat left top/contain;
  padding-bottom: 100px;
}
.main__header {
  margin-bottom: 46px;
}
.main-content__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0 0 36px 0;
}
.main-content__descr {
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 64px;
}
.main-content__button {
  margin-right: 16px;
}
.main-images {
  position: relative;
}
.main-images__img {
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
}
.main-images__img--small {
  position: absolute;
  right: -20%;
  bottom: -20%;
}

.header {
  padding-top: 36px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__item:not(:last-child) {
  margin-right: 42px;
}
.header-nav__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.header-nav__link:hover {
  color: #FFFFFF;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features {
  padding-bottom: 100px;
}
.features-questions {
  background: #FFFFFF url("../img/features/features-bg.png") no-repeat top center;
  position: relative;
}
.features-questions__question {
  position: absolute;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #262B35;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 48px rgba(44, 45, 49, 0.16);
          box-shadow: 0px 12px 48px rgba(44, 45, 49, 0.16);
  border-radius: 5px;
  padding: 9px 13px;
}
.features-questions__question--1 {
  top: 53px;
  right: 0;
  width: 200px;
}
.features-questions__question--2 {
  top: 111px;
  left: -40px;
  width: 200px;
}
.features-questions__question--3 {
  top: 228px;
  left: 5px;
  width: 210px;
}
.features-questions__question--4 {
  top: 350px;
  right: 10px;
  width: 220px;
}
.features__questions {
  margin-top: 86px;
}
.features__descr {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #606C84;
  width: 960px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.features__title-block {
  margin-bottom: 60px;
}
.features-card__img {
  margin-bottom: 36px;
}
.features-card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #262B35;
  margin-bottom: 16px;
}
.features-card__descr {
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #606C84;
}
.features__card {
  margin-bottom: 60px;
}
